<a href="https://colab.research.google.com/github/nrubio6131/nico_CIS/blob/master/documentacion/comandos_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##importamos las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# import gspread
# from oauth2client.client import GoogleCredentials 
# from google.colab import auth
# auth.authenticate_user()
# gc = gspread.authorize (GoogleCredentials.get_application_default())

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
#funciones a utilizar
def espacio():
  print('---------------------------------------------------------------------------------------------')

In [5]:
#importamos los datos
#data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/insurance.csv',delimiter=',')#desde google drive
data = pd.read_csv('../data/insurance.csv',delimiter=',')
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
#formas de visualizar los nombres de las columnas
print(data.dtypes)
espacio()
print(data.columns)

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object
---------------------------------------------------------------------------------------------
Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
#Organizar datos visualizados
print(data.sex)
print('----------------------------------------------------------------------------')
pd.unique(data['region'])

0       female
1         male
2         male
3         male
4         male
         ...
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object
----------------------------------------------------------------------------

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [8]:
#cambiar nombre de las columnas
data.columns=['aÃ±o','sexo','IMC','hijos','fumador','region','cargos']
data

      aÃ±o    sexo     IMC  hijos fumador     region       cargos
0      19  female  27.900      0     yes  southwest  16884.92400
1      18    male  33.770      1      no  southeast   1725.55230
2      28    male  33.000      3      no  southeast   4449.46200
3      33    male  22.705      0      no  northwest  21984.47061
4      32    male  28.880      0      no  northwest   3866.85520
...   ...     ...     ...    ...     ...        ...          ...
1333   50    male  30.970      3      no  northwest  10600.54830
1334   18  female  31.920      0      no  northeast   2205.98080
1335   18  female  36.850      0      no  southeast   1629.83350
1336   21  female  25.800      0      no  southwest   2007.94500
1337   61  female  29.070      0     yes  northwest  29141.36030

[1338 rows x 7 columns]

In [9]:
#separar dataframe
X_1=data.iloc[:,1:3]
X_2=data.iloc[:,3:5]
#concatenar de nuevo dataframe
pd.concat([X_1,X_2], axis=1)

        sexo     IMC  hijos fumador
0     female  27.900      0     yes
1       male  33.770      1      no
2       male  33.000      3      no
3       male  22.705      0      no
4       male  28.880      0      no
...      ...     ...    ...     ...
1333    male  30.970      3      no
1334  female  31.920      0      no
1335  female  36.850      0      no
1336  female  25.800      0      no
1337  female  29.070      0     yes

[1338 rows x 4 columns]

In [10]:
#organizando arreglos numpy a un dataframe
from sklearn import datasets#importamos libreria
datos=datasets.load_linnerud()#importamos datos
#une las variables dependientes e independientes en una sola
df=pd.DataFrame(data = np.hstack((datos.data,datos.target)),columns = (datos.feature_names + datos.target_names))
df#son 3 variables dependientes y 3 independientes

    Chins  Situps  Jumps  Weight  Waist  Pulse
0     5.0   162.0   60.0   191.0   36.0   50.0
1     2.0   110.0   60.0   189.0   37.0   52.0
2    12.0   101.0  101.0   193.0   38.0   58.0
3    12.0   105.0   37.0   162.0   35.0   62.0
4    13.0   155.0   58.0   189.0   35.0   46.0
5     4.0   101.0   42.0   182.0   36.0   56.0
6     8.0   101.0   38.0   211.0   38.0   56.0
7     6.0   125.0   40.0   167.0   34.0   60.0
8    15.0   200.0   40.0   176.0   31.0   74.0
9    17.0   251.0  250.0   154.0   33.0   56.0
10   17.0   120.0   38.0   169.0   34.0   50.0
11   13.0   210.0  115.0   166.0   33.0   52.0
12   14.0   215.0  105.0   154.0   34.0   64.0
13    1.0    50.0   50.0   247.0   46.0   50.0
14    6.0    70.0   31.0   193.0   36.0   46.0
15   12.0   210.0  120.0   202.0   37.0   62.0
16    4.0    60.0   25.0   176.0   37.0   54.0
17   11.0   230.0   80.0   157.0   32.0   52.0
18   15.0   225.0   73.0   156.0   33.0   54.0
19    2.0   110.0   43.0   138.0   33.0   68.0

In [17]:
#obtener estadisticas de los datos
df.describe()

           Chins      Situps      Jumps      Weight      Waist      Pulse
count  20.000000   20.000000   20.00000   20.000000  20.000000  20.000000
mean    9.450000  145.550000   70.30000  178.600000  35.400000  56.100000
std     5.286278   62.566575   51.27747   24.690505   3.201973   7.210373
min     1.000000   50.000000   25.00000  138.000000  31.000000  46.000000
25%     4.750000  101.000000   39.50000  160.750000  33.000000  51.500000
50%    11.500000  122.500000   54.00000  176.000000  35.000000  55.000000
75%    13.250000  210.000000   85.25000  191.500000  37.000000  60.500000
max    17.000000  251.000000  250.00000  247.000000  46.000000  74.000000