In [38]:
##importamos las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sklearn#data=sklearn.datasets.
from sklearn import datasets#datasets
from sklearn.datasets import load_boston#.load_boston()
print('librerias importadas correctamente')

librerias importadas correctamente

In [55]:
data=sklearn.datasets.load_boston()
data=datasets.load_boston()
data=load_boston()

# data=sklearn.datasets.load_diabetes()
# data=sklearn.datasets.load_digits()
# data=sklearn.datasets.load_linnerud()
# data=sklearn.datasets.load_wine()
# data=sklearn.datasets.load_breast_cancer()
df = pd.DataFrame(data.data, columns=data.feature_names)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [1]:
print('El data frame importado desde sklearn es de tipo: {}'.format(type(data)))
print('El data frame convertido en pandas es de tipo: {}'.format(type(df)))

NameError: name 'data' is not defined